[Desktop Entry]
Encoding=UTF-8
Name=AbevJava - Általános Nyomtatványkitöltő
GenericName=AbevJava
GenericName[hu]=AbevJava
Comment=Általános Nyomtatványkitöltő - supplying of data for Hungarian public administration
Comment[hu]=Általános Nyomtatványkitöltő - bevallások és adatszolgáltatások
Exec=abevjava
Icon=/usr/lib/abevjava/abevjava.ico
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Office;
Version=1.0
